/* @media only screen and (min-device-width: 501px) { */

body {
  font-size: 62.5%;
  font-style: Arial;
  background-image: url('https://i.imgur.com/9Iz55JI.jpg');
}

/* .container img {
  width: 100%;
} */

/* .animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
} */

/* .animation-container {
  width: 1000rem;
  height: 30rem;
} */

.farFadeIn{
  color: white;
  font-size: 20px;
  animation-duration: 5s;
  position: absolute;
  right: 30rem;
  padding-top: 200px;
  animation-name: farFadeIn;
  animation-fill-mode: both;
}

.rightFadeIn {
  color: white;
  font-size: 100px;
  padding-top:95px;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: rightFadeIn;
}

.jobFadeIn {
  color: white;
  font-size: 50px;
  font-family: 'Ranga', cursive;
  animation-duration: 5s;
  animation-delay: 4s;
  position: absolute;
  right: 30rem;
  padding-top: 240px;
  animation-name: jobFadeIn;
  animation-fill-mode: both;
  letter-spacing: 2px;
  z-index: 2;
}

.portrait {
  animation-duration: 5s;
  animation-delay: 4s;
  position: absolute;
  right: 40rem;
  top: 20rem;
  /* padding-top: 320px; */
  animation-name: jobFadeIn;
  animation-fill-mode: backwards;
  z-index: 2;
  width: 100px;
  border-radius: 50px;

}

.q-and-a {
  margin: 0 auto;
  color: white;
  text-align: justify;
  font-size: 20px;
  animation-duration: 5s;
  animation-delay: 4s;
  position: absolute;
  right: 21rem;
  top: 30rem;
  /* padding-top: 320px; */
  animation-name: questionFadeIn;
  animation-fill-mode: both;
  z-index: 2;
  width: 50%;
  /* margin-left: 20px; */
}

.first_project {
  position: absolute;
  top: 50rem;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 400px;
  font-size: 30px;
}

.first_desc, .second_desc {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.first_laptop, .second_laptop {
  width: 600px;
  height: auto;
}

button {
  font-size: 15px;
  background-color: rgb(129, 4, 4);
  color: white;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.second_project {
  border-top: 5px solid rgba(111, 111, 111, 0.40);
  position: absolute;
  top: 74rem;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 400px;
  font-size: 30px;
}



@keyframes rightFadeIn {
  0% {
    position: absolute;
    right: -60rem;
    opacity: 0;
  }

  100% {
    position: absolute;
    opacity: 1;
    right: 20rem;
  }
}

@keyframes farFadeIn{
  0% {
    position: absolute;
    right: -180rem;
    opacity: 0;
  }

  100% {
    position: absolute;
    opacity: 1;
    right: 32rem;
  }
}

@keyframes jobFadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes questionFadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
/* } */

@media only screen and (max-device-width: 1000px) {
  body {
    font-size: 50%;
    font-style: Arial;
    background-image: url('https://i.imgur.com/9Iz55JI.jpg'); /* Photo by rawpixel on Unsplash */
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .farFadeIn{
    color: white;
    font-size: 20px;
    animation-duration: 5s;
    position: fixed;
    right: 30rem;
    padding-top: 210px;
    animation-name: farFadeIn;
    animation-fill-mode: both;
  }

  .rightFadeIn {
    color: white;
    font-size: 100px;
    padding-top: 105px;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-name: rightFadeIn;
  }

  .jobFadeIn {
    color: white;
    font-size: 50px;
    font-family: 'Ranga', cursive;
    animation-duration: 5s;
    animation-delay: 4s;
    position: fixed;
    right: 17rem;
    padding-top: 240px;
    animation-name: jobFadeIn;
    animation-fill-mode: both;
    letter-spacing: 2px;
  }

  .portrait {
    animation-duration: 5s;
    animation-delay: 4s;
    position: fixed;
    right: 28rem;
    top: 22rem;
    /* padding-top: 320px; */
    animation-name: jobFadeIn;
    animation-fill-mode: backwards;
    z-index: 2;
    width: 100px;
    border-radius: 50px;

  }

  @keyframes rightFadeIn {
    0% {
      position: fixed;
      right: -60rem;
      opacity: 0;
    }

    100% {
      position: fixed;
      opacity: 1;
      right: 7rem;
    }
  }

  @keyframes farFadeIn{
    0% {
      position: fixed;
      right: -180rem;
      opacity: 0;
    }

    100% {
      position: fixed;
      opacity: 1;
      right: 18rem;
    }
  }

  @keyframes jobFadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
  }

  @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
  }
}
