body {
  background-color: blue;
}

.container {
  border: 1px solid gold;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: block;


}
.logo > img {
  display: inline-block;
  width: 50%;
  margin: 0 12vw;
}

.game-box > img {
  width: 75%;
  margin: 0 6vw;
}

.game-tiles > img {
  margin: 8.2px 0;
  cursor: pointer;
  position: relative;
  top: -430px;
  left: 129px;
  width: 31.6vw;
}
